.menu-area{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color:#306754;
    padding: 20px;
    color:white
}
.menu-area img{
    width: 130px;
    border-radius: 50%;
}

@media only screen and (max-width: 688px) {
    .menu-area{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 689px) and (max-width:991) {
    .menu-area{
        grid-template-columns: repeat(3, 1fr);
    }
}