.menu-area{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.menu-area img{
    width: 100px
}

@media only screen and (max-width: 688px) {
    .menu-area{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 689px) and (max-width:991) {
    .menu-area{
        grid-template-columns: repeat(3, 1fr);
    }
}